################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServerTCPFiles/.vs/ServerTCPFiles/v15/Server/sqlite3
*.cache
/ServerTCPFiles/ServerFiles/bin
/ServerTCPFiles/ServerFiles/obj
